In [84]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
mm = MinMaxScaler()

In [85]:
PATH = ('/Users/inseongkim/PycharmProjects/ML_class/proj_stud/student_score.csv')

In [86]:
study = pd.read_csv(PATH)
stu = study.copy()

In [87]:
stu.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

In [88]:
stu.isna().sum()
stu

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

#NaN데이터 처리

In [89]:
stu.TransportMeans=stu.TransportMeans.fillna('foot')
stu.TestPrep = stu.TestPrep.fillna('none')
stu.WklyStudyHours = stu.WklyStudyHours.fillna('0')
stu['IsFirstChild'] = stu['IsFirstChild'].fillna('no')
stu.PracticeSport = stu.PracticeSport.fillna('no')
stu.NrSiblings = stu.NrSiblings.fillna(0.0)
stu.ParentMaritalStatus = stu.ParentMaritalStatus.fillna('single')
stu.ParentEduc = stu.ParentEduc.fillna('high school')
stu.EthnicGroup = stu.EthnicGroup.fillna('group A')


stu

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,group A,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,none,married,sometimes,yes,0.0,foot,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,foot,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,group A,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

0과 1로 변환

In [90]:
stu.drop(['TestPrep','LunchType','NrSiblings','TransportMeans','Unnamed: 0'],axis=1,inplace=True)
stu.replace(
    {'EthnicGroup':
     {
      'group A':0,
      'group B':1,
      'group C':2,
      'group D':3,
      'group E':4
      },
      'IsFirstChild':
      {
        'yes':0,
        'no':1
      },
      'PracticeSport':
      {
        'never':0,
        'sometimes':1,
        'regularly':2
      },
      'ParentMaritalStatus':
      {
        'single':0,
        'married':1   
      },
      'ParentEduc':
      {
        'high school':0,
        'some college':1,
        "bachelor's degree":2,
        "associate's degree":3,
        "master's degree":4
      },
      'WklyStudyHours':
      {
        '< 5':1,
        '5 - 10':2
      },
      'Gender':
      {
        'female':0,
        'male':1
      }
      },
            inplace=True)

In [91]:
stu

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,0,2,1,2,0,1,71,71,74
1,0,2,1,1,1,0,2,69,90,88
2,0,1,4,0,1,0,1,87,93,91
3,1,0,3,1,0,1,2,45,56,42
4,1,2,1,1,1,0,2,76,78,75
...,...,...,...,...,...,...,...,...,...,...
30636,0,3,0,0,1,1,2,59,61,65
30637,1,4,0,0,2,1,2,58,53,51
30638,0,0,0,1,1,1,2,61,70,67
30639,0,3,3,1,2,1,2,82,90,93
30640,1,1,1,1,0,1,2,64,60,58

In [167]:
stu['TotalMeans'] = (stu['MathScore'].astype('int')+stu['ReadingScore'].astype('int')+stu['WritingScore'].astype('int'))/3

In [151]:
y = stu.pop('TotalMeans')
X = stu

,Unnamed: 0,ParentEduc,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,TotalMeans,EthnicGroup_group A,EthnicGroup_group B,EthnicGroup_group C,EthnicGroup_group D,EthnicGroup_group E,LunchType_free/reduced,LunchType_standard
0,0,bachelor's degree,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,72.000000,True,False,False,False,False,False,True
1,1,some college,none,married,sometimes,yes,0.0,foot,5 - 10,69,90,88,82.333333,False,False,True,False,False,False,True
2,2,master's degree,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,90.333333,False,True,False,False,False,False,True
3,3,associate's degree,none,married,never,no,1.0,foot,5 - 10,45,56,42,47.666667,True,False,False,False,False,True,False
4,4,some college,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,76.333333,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,high school,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65,61.666667,False,False,False,True,False,False,True
30637,890,high school,none,single,regularly,no,1.0,private,5 - 10,58,53,51,54.000000,False,False,False,False,True,False,True
30638,911,high school,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67,66.000000,True,False,False,False,False,True,False
30639,934,associate's degree,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93,88.333333,False,False,False,True,False,False,True
30640,960,some college,none,married,never,no,1.0,school_bus,5 - 10,64,60,58,60.666667,False,True,False,False,False,False,True