In [159]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
mm = MinMaxScaler()

In [160]:
PATH = ('/Users/inseongkim/PycharmProjects/ML_class/proj_stud/student_score.csv')

In [161]:
study = pd.read_csv(PATH)
stu = study.copy()

In [162]:
stu.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

In [171]:
stu.isna().sum()
stu

,Unnamed: 0,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,TotalMeans
0,0,group A,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,72.000000
1,1,group C,some college,standard,none,married,sometimes,yes,0.0,foot,5 - 10,69,90,88,82.333333
2,2,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,90.333333
3,3,group A,associate's degree,free/reduced,none,married,never,no,1.0,foot,5 - 10,45,56,42,47.666667
4,4,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65,61.666667
30637,890,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51,54.000000
30638,911,group A,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67,66.000000
30639,934,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93,88.333333
30640,960,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58,60.666667

#NaN데이터 처리

In [170]:
stu.TransportMeans=stu.TransportMeans.fillna('foot')
stu.TestPrep = stu.TestPrep.fillna('none')
stu.WklyStudyHours = stu.WklyStudyHours.fillna('0')
stu['IsFirstChild'] = stu['IsFirstChild'].fillna('no')
stu.PracticeSport = stu.PracticeSport.fillna('no')
stu.NrSiblings = stu.NrSiblings.fillna(0.0)
stu.ParentMaritalStatus = stu.ParentMaritalStatus.fillna('single')
stu.ParentEduc = stu.ParentEduc.fillna('high school')
stu.EthnicGroup = stu.EthnicGroup.fillna('group A')
stu

,Unnamed: 0,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,TotalMeans
0,0,group A,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,72.000000
1,1,group C,some college,standard,none,married,sometimes,yes,0.0,foot,5 - 10,69,90,88,82.333333
2,2,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,90.333333
3,3,group A,associate's degree,free/reduced,none,married,never,no,1.0,foot,5 - 10,45,56,42,47.666667
4,4,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65,61.666667
30637,890,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51,54.000000
30638,911,group A,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67,66.000000
30639,934,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93,88.333333
30640,960,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58,60.666667

0과 1로 변환

In [169]:
stu.ParentMaritalStatus.replace(to_replace=['married','single'],value=[1,0])
stu.

0        1
1        1
2        0
3        1
4        1
        ..
30636    0
30637    0
30638    1
30639    1
30640    1
Name: ParentMaritalStatus, Length: 30641, dtype: object

In [166]:
stu.astype('string').dtypes

Unnamed: 0             string[python]
Gender                 string[python]
EthnicGroup            string[python]
ParentEduc             string[python]
LunchType              string[python]
TestPrep               string[python]
ParentMaritalStatus    string[python]
PracticeSport          string[python]
IsFirstChild           string[python]
NrSiblings             string[python]
TransportMeans         string[python]
WklyStudyHours         string[python]
MathScore              string[python]
ReadingScore           string[python]
WritingScore           string[python]
dtype: object

In [167]:
stu['TotalMeans'] = (stu['MathScore'].astype('int')+stu['ReadingScore'].astype('int')+stu['WritingScore'].astype('int'))/3
stu.drop('Gender',axis=1,inplace=True)

In [151]:
y = stu['TotalMeans']
X = stu

In [152]:
X=pd.get_dummies(X,columns=['EthnicGroup'])
X=pd.get_dummies(X,columns=['LunchType'])
X

,Unnamed: 0,ParentEduc,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,TotalMeans,EthnicGroup_group A,EthnicGroup_group B,EthnicGroup_group C,EthnicGroup_group D,EthnicGroup_group E,LunchType_free/reduced,LunchType_standard
0,0,bachelor's degree,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,72.000000,True,False,False,False,False,False,True
1,1,some college,none,married,sometimes,yes,0.0,foot,5 - 10,69,90,88,82.333333,False,False,True,False,False,False,True
2,2,master's degree,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,90.333333,False,True,False,False,False,False,True
3,3,associate's degree,none,married,never,no,1.0,foot,5 - 10,45,56,42,47.666667,True,False,False,False,False,True,False
4,4,some college,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,76.333333,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,high school,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65,61.666667,False,False,False,True,False,False,True
30637,890,high school,none,single,regularly,no,1.0,private,5 - 10,58,53,51,54.000000,False,False,False,False,True,False,True
30638,911,high school,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67,66.000000,True,False,False,False,False,True,False
30639,934,associate's degree,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93,88.333333,False,False,False,True,False,False,True
30640,960,some college,none,married,never,no,1.0,school_bus,5 - 10,64,60,58,60.666667,False,True,False,False,False,False,True